@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #6A95B1;
  --dark: #272D3E;
  --light: #fdfdfd;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: var(--light);
  color: var(--dark);
  overflow-x: hidden;
}

/* ======================= Navbar ======================= */

nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 0 10%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav-bar {
  background-color: var(--light);
  font-family: "Poppins", sans-serif;
  transition-duration: 0.5s;
  transition-function: ease-in-out;
}

/* Show alert animation */

.my-alert {
  text-align: center;
  animation: showAlert 1s forwards;
}

@keyframes showAlert {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    transform: translateY(20px);
  }
}


/* Hide alert animation */
.hide-myalert {
  animation: hideAlert 1s forwards;
}

@keyframes hideAlert {
  from {
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(-60px);
  }
}

nav .logo {
  letter-spacing: 2px;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fdfdfd;
  cursor: pointer;
}

.logo a img {
  width: 7.5vw;
}

.active {
  color: var(--primary-color);
  font-weight: 600;
}

.navbar-shadow {
  box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.15);
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 0;
}

nav ul li a {
  color: #27251f;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 1s;
}

nav ul li a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.nav-btn .btn-login, .nav-btn .btn-regis {
  text-decoration: none;
  padding: 0.5vw 2.5vw;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.nav-btn .btn-login {
  color: var(--light);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.nav-btn .btn-regis {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

.nav-btn .btn-login:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.nav-btn .btn-regis:hover {
  color: var(--light);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

nav ul .btn-nav {
  display: none;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  /* position: relative; */
}

.menu-toggle input {
  position: absolute;
  width: 55px;
  height: 30px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  /* z-index: 2; */
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger Menu animation */
.menu-toggle span:nth-child(2) {
  /* background-color: red; */
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  /* background-color: red; */
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
  transform: rotate(-45deg) translate(0px, 0px);
}

/* Welcoming Section */

#welcoming-section {
  padding: 17vh 10% 0 10%;
  height: 100vh;
}

.wrapper-welcoming {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9vw;
}

.wrapper-welcoming h1 {
  font-size: 3vw;
  font-weight: 600;
  color: var(--dark);
  line-height: 1.2;
}

.wrapper-welcoming p {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: 500;
  color: grey;
  line-height: 1.5;
}

.wrapper-welcoming .btn-cta {
  color: var(--light);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 5px;
  font-size: 1.1vw;
  padding: 0.6vw 2vw;
  font-weight: 500;
}

.wrapper-welcoming .btn-cta-secondary {
  color: var(--primary-color);
  background-color: transparent;
  border-color: var(--primary-color);
  border-radius: 5px;
  font-size: 1.1vw;
  font-weight: 500;
  padding: 0.6vw 2vw;
}

.wrapper-welcoming .btn-cta:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.wrapper-welcoming .btn-cta-secondary:hover {
  color: var(--light);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

#welcoming-section img {
  width: 30vw;
}

/* Section Lacak */
#uniccode-search-section {
  padding: 0 10%;
  height: auto;
}

.wrapper-uniccode {
  width: 100%;
  padding: 5%;
  border-radius: 20px;
  background: linear-gradient(145deg, #5f869f, #719fbd);
  box-shadow: 10px 10px 24px 4px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 10px 10px 24px 4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 24px 4px rgba(0, 0, 0, 0.24);
}

.wrapper-uniccode h1 {
  color: var(--light);
  text-align: center;
  font-size: 3vw;
}

.wrapper-uniccode p {
  color: var(--light);
  font-size: 1vw;
  text-align: center;
  margin-top: 1vw;
  padding: 0 8vw;
}

.wrapper-form {
  width: 60%;
  background-color: var(--light);
  border-radius: 20px;
  padding: 3%;
  margin: 2vw auto;
  background: rgba(253, 253, 253, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.wrapper-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.wrapper-form .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.inputs input {
  padding: 1vw;
  font-size: 1vw;
}

.inputs span {
  color: var(--light);
  font-size: 2vw;
}

.wrapper-form .btn-primary:hover {
  background-color: #2c4352;
  border: 1px solid var(--primary-color);
}

.wrapper-form .btn-primary {
  color: var(--light);
  background-color: #466981;
  border: 1px solid #466981;
}

/* Cards Step */
#cards-step-section {
  padding: 10%;
}

.wrapper-card__step {
  display: flex;
  justify-content: space-between;
  gap: 1vw;

}

.card-step {
  height: auto;
  width: 25vw;
  background-color: #ACD1AF;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vw;
  cursor: pointer;
  transition: all 2s;
}

.card-step:hover {
  transition: all 500ms;
  box-shadow: 10px 10px 22px 4px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 10px 10px 22px 4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 10px 10px 22px 4px rgba(0, 0, 0, 0.23);
}

.process-step {
  background-color: #EEEE9B;
}

.final-step {
  background-color: #F47174;
}

.card-step .icon-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background-color: rgb(219, 219, 219);
}

.bi-send-fill, .bi-gear-fill, .bi-check2-all {
  font-size: 100%;
}

.card-step p {
  text-align: justify;
  font-size: 1vw;
  margin-bottom: 0;
  font-weight: 500;
}

.card-step h2 {
  font-size: 2vw;
  font-weight: 600;
}

/* Section Statistik */
#section-statistik {
  background-color: var(--dark);
  padding: 5% 10%;
}

.wrapper-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light);
}

.wrapper-body h2 {
  width: 40vw;
  line-height: 1.5;
  font-size: 2.3vw;
  font-weight: 600;
}

.wrapper-cards__statistik {
  display: flex;
  justify-content: space-between;
  gap: 1.5vw;
  text-align: center;
}

.card-statistik {
  width: 12vw;
  padding: 3% 0;
  background-color: transparent;
  transition: all 1s;
  cursor: pointer;
}

.card-statistik:hover {
  transition: all 1s;
  background: #272D3E;
  box-shadow: 5px 5px 10px #212635,
    -5px -5px 10px #2d3447;
  border-radius: 10px;
}

.card-statistik p {
  font-size: 2vw;
  font-weight: 600;
  color: #2DA815;
}

.card-statistik:nth-child(2) p:nth-child(1) {
  color: #F2E30C;
}

.card-statistik:nth-child(3) p:nth-child(1) {
  color: #FC342A;
}

.card-statistik h3 {
  font-size: 2vw;
}

/* Tentang kami */
#about-us {
  padding: 10%;
}

.wrapper-title {
  display: flex;
  justify-content: center;
}

#about-us h2 {
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  position: relative;
  display: inline-block;
}

#about-us h2::after {
  content: "";
  width: 40%;
  height: 2.1vw;
  bottom: 0;
  right: -7px;
  background-color: var(--primary-color);
  position: absolute;
  z-index: -1;
  background: rgba(88, 135, 165, 0.4);
  box-shadow: 0 6px 26px 0 rgb(68 68 68 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#about-us .maps {
  margin-top: 5%;
}

.maps iframe {
  width: 100%;
}

.typograph-about-us {
  margin-top: 2%;
  text-align: justify;
}

.typograph-about-us p {
  font-size: 1.5vw;
  color: var(--dark);
}

/* Footer */
#footer-user {
  padding: 5% 10% 2% 10%;
  background-color: var(--dark);
  color: var(--light);
}

.flex-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.identitas {
  width: 22vw;
}

.identitas img {
  width: 10vw;
}

.identitas address {
  font-size: 1.2vw;
  line-height: 1.5;
  margin-top: 5%;
}

.links h2 {
  font-size: 2vw;
}

.links ul {
  list-style: none;
  font-size: 1.2vw;
  padding-left: 0;
}

.links a {
  color: var(--light);
  text-decoration: none;
}

#footer-user h6 {
  margin: 3% 0 0 0;
  font-size: 1vw;
  text-align: center;
}

/* Section Form Complaint  */
.form-complaint {
  padding: 10%;
}

.form-complaint h2 {
  font-size: 1.5vw;
  font-weight: 600;
}

section:nth-child(2) h2 {
  margin-top: 3vw;
}

/* Riwayat */


/* Ukuran Tablet */
@media screen and (max-width: 992px) {
  .menu-toggle {
    display: flex;
    margin-left: auto;
    z-index: 2;
    position: relative;
  }

  nav {
    padding: 1vw 7vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
  }

  nav ul {
    position: absolute;
    width: 80%;
    right: 0;
    top: 0;
    height: 100vh;
    justify-content: center;
    gap: 5em;
    align-items: center;
    flex-direction: column;
    background-color: #eeeeee;
    z-index: -1;
    right: -400px;
    /* transform: translateX(100%); */
    transition: all 1s;
    opacity: 0;
  }

  nav ul li a {
    font-size: 1rem;
  }

  nav ul.slide {
    right: 0;
    /* transform: translateX(0); */
    opacity: 1;
    z-index: 2;
  }

  .menu-toggle input {
    left: -11px;
  }

  nav ul .btn-nav {
    display: block;
  }

  .btn-nav .btn-regis, .btn-nav .btn-login {
    text-decoration: none;
    padding: 2vw 10vw;
    border-radius: 10px;
    font-weight: 600;
  }

  .btn-nav .btn-regis {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
  }

  .btn-nav .btn-login {
    color: var(--light);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  .btn-nav .btn-regis:hover {
    background-color: transparent;
    color: #2d4f65;
    border: 1px solid #2d4f65;
  }

  .btn-nav .btn-login:hover {
    background-color: transparent;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--primary-color);
  }

  nav .nav-btn {
    display: none;
  }

  .logo a img {
    width: 12vw;
  }

  /* Welcoming Section */
  .wrapper-welcoming {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 9vw;
  }

  .wrapper-welcoming h1 {
    font-size: 4.1vw;
    text-align: center;
    line-height: 1.3;
  }

  .wrapper-welcoming p {
    margin-top: 1vw;
    text-align: center;
    font-size: 1.8vw;
    line-height: 1.6;
  }

  .wrapper-cta {
    display: flex;
    justify-content: center;
    gap: 1vw;
  }

  .wrapper-welcoming .btn-cta {
    font-size: 2vw;
    padding: 0.8vw 2.2vw;
  }

  .wrapper-welcoming .btn-cta-secondary {
    font-size: 2vw;
    padding: 0.8vw 2.2vw;
  }

  #welcoming-section img {
    width: 50vw;
  }

  /* Section Lacak */
  #uniccode-search-section {
    padding: 0 5%;
  }

  .wrapper-uniccode {
    padding: 8% 5%;
  }

  .wrapper-uniccode h1 {
    font-size: 4.5vw;
  }

  .wrapper-uniccode p {
    font-size: 1.5vw;
    margin-top: 2vw;
    padding: 0;
  }

  .wrapper-form {
    width: 70%;
    padding: 4%;
    margin: 3vw auto 0 auto;
  }

  .wrapper-form form {
    gap: 2vw;
  }

  .wrapper-form .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }

  .inputs input {
    padding: 1vw 2vw;
    font-size: 2vw;
  }

  .inputs span {
    color: var(--light);
    font-size: 2.5vw;
  }

  /* Cards Step */
  #cards-step-section {
    padding: 5% 5% 5% 5%;
  }

  .wrapper-card__step {
    gap: 1vw;
  }

  .card-step {
    width: 28vw;
    padding: 2%;
    gap: 3vw;
  }

  .card-step .icon-step {
    width: 4vw;
    height: 4vw;
  }

  .card-step p {
    font-size: 1.5vw;
  }

  .card-step h2 {
    font-size: 2.5vw;
  }

  /* Section Statistik */
  #section-statistik {
    padding: 5%;
  }

  .wrapper-body h2 {
    width: 40vw;
    line-height: 1.6;
    font-size: 3vw;
  }

  .wrapper-cards__statistik {
    gap: 1.5vw;
  }

  .card-statistik {
    width: 15vw;
    padding: 3% 0;
  }

  .card-statistik:hover {
    transition: all 1s;
    background: #272D3E;
    box-shadow: 5px 5px 10px #212635,
      -5px -5px 10px #2d3447;
    border-radius: 10px;
  }

  .card-statistik p {
    font-size: 2.5vw;
  }

  .card-statistik h3 {
    font-size: 2.5vw;
  }

  /* Tentang kami */
  #about-us {
    padding: 5%;
  }

  #about-us h2 {
    font-size: 4vw;
  }

  #about-us h2::after {
    height: 3.5vw;
    bottom: -10px;
    right: -7px;
  }

  #about-us .maps {
    margin-top: 4%;
  }

  .typograph-about-us {
    margin-top: 2%;
  }

  .typograph-about-us p {
    font-size: 2vw;
  }

  /* Footer */
  #footer-user {
    padding: 5% 5% 2% 5%;
  }

  .identitas {
    width: 30vw;
  }

  .identitas img {
    width: 20vw;
  }

  .identitas address {
    font-size: 2vw;
    line-height: 1.5;
    margin-top: 5%;
  }

  .links {
    margin-top: 30px;
  }

  .links h2 {
    font-size: 3vw;
  }

  .links ul {
    font-size: 2vw;
  }

  #footer-user h6 {
    font-size: 1.5vw;
  }

  /* Section Form Complaint  */
  .form-complaint {
    padding: 15% 5% 10% 5%;
  }

  .form-complaint h2 {
    font-size: 2vw;
  }

  section:nth-child(2) h2 {
    margin-top: 4vw;
  }
}

@media screen and (max-width: 768px) {}

/* ukuran Mobile */
@media screen and (max-width: 576px) {
  nav {
    padding: 2vw 7vw;
  }

  .logo a img {
    width: 20vw;
  }

  .logo a h4 {
    display: none;
  }

  .menu-toggle input {
    left: -3vw;
    top: -1vw;
  }

  nav ul li a {
    font-size: 4vw;
  }

  nav ul {
    width: 80%;
    gap: 8vw;
  }

  /* Welcoming Section */
  #welcoming-section {
    padding: 16vh 5%;
  }

  .wrapper-welcoming {
    gap: 9vw;
  }

  .wrapper-welcoming h1 {
    font-size: 6vw;
    line-height: 1.4;
    font-weight: 700;
  }

  .wrapper-welcoming p {
    margin-top: 1vw;
    font-size: 2.8vw;
    line-height: 1.6;
  }

  .wrapper-cta {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
  }

  .wrapper-welcoming .btn-cta, .wrapper-welcoming .btn-cta-secondary {
    font-size: 3.5vw;
    padding: 1.5vw 3.5vw;
  }

  #welcoming-section img {
    width: 60vw;
  }

  /* Section Lacak */
  #uniccode-search-section {
    padding: 0;
  }

  .wrapper-uniccode {
    padding: 10% 5% 10% 5%;
    box-shadow: none;
    border-radius: 0;
  }

  .wrapper-uniccode h1 {
    font-size: 7vw;
  }

  .wrapper-uniccode p {
    font-size: 3vw;
    margin-top: 5%;
  }

  .wrapper-form {
    width: 100%;
    padding: 5% 3%;
    margin: 10% auto 0 auto;
  }

  .wrapper-form form {
    flex-direction: column;
    gap: 5vw;
  }

  .wrapper-form .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }

  .inputs input {
    padding: 1.5vw 1.5vw;
    font-size: 5vw;
  }

  .inputs span {
    font-size: 4vw;
  }

  /* Cards Step */
  #cards-step-section {
    padding: 10% 5% 10% 5%;
  }

  .wrapper-card__step {
    flex-direction: column;
    gap: 4vw;
  }

  .card-step {
    width: 100%;
    padding: 5%;
    gap: 4.5vw;
  }

  .card-step .icon-step {
    width: 10vw;
    height: 10vw;
  }

  .card-step p {
    font-size: 3.5vw;
  }

  .card-step h2 {
    font-size: 5vw;
  }

  #section-statistik {
    padding: 10% 5% 10% 5%;
  }

  .wrapper-body {
    display: flex;
    flex-direction: column;
    gap: 10vw;
  }

  .wrapper-body h2 {
    width: auto;
    line-height: 1.6;
    font-size: 5.5vw;
    font-weight: 600;
    text-align: center;
  }

  .wrapper-cards__statistik {
    display: flex;
    gap: 8vw;
    text-align: center;
  }

  .card-statistik {
    width: 26%;
    transition: none;
  }

  .card-statistik:hover {
    transition: none;
    background: #272D3E;
    box-shadow: none;
    border-radius: none;
  }

  .card-statistik p {
    font-size: 5vw;
  }

  .card-statistik h3 {
    font-size: 5vw;
  }

  /* Tentang kami */
  #about-us {
    padding: 10% 5%;
  }

  #about-us h2 {
    font-size: 7vw;
  }

  #about-us h2::after {
    height: 4.5vw;
    bottom: 0px;
    right: -5px;
  }

  #about-us .maps {
    margin-top: 4%;
  }

  .typograph-about-us {
    margin-top: 2%;
  }

  .typograph-about-us p {
    font-size: 3.5vw;
  }

  /* Footer */
  #footer-user {
    padding: 5% 5% 4% 5%;
  }

  .flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .identitas {
    width: auto;
  }

  .identitas img {
    width: 30vw;
  }

  .identitas address {
    font-size: 3vw;
    margin-top: 5%;
  }

  .links h2 {
    font-size: 5vw;
  }

  .links ul {
    font-size: 3vw;
  }

  #footer-user h6 {
    margin: 3% 0 0 0;
    font-size: 2vw;
    text-align: center;
  }

  /* Section Form Complaint  */
  .form-complaint {
    padding: 20% 5% 10% 5%;
  }

  .form-complaint h2 {
    font-size: 5vw;
  }

  section:nth-child(2) h2 {
    margin-top: 6vw;
  }

  .form-complaint textarea, .form-complaint .form-floating textarea {
    height: 100px;
  }
}